<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamran.calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.zealtech.learning.util.Learning"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zealtech.learning.activity.EditCourseActivity"
            android:label="@string/title_activity_edit_course"
            android:theme="@style/AppThemeWitActionBar"></activity>
        <activity
            android:name="com.zealtech.learning.testing.ConnectionTest"
            android:theme="@style/AppThemeWitActionBar"></activity>
        <activity
            android:name="com.zealtech.learning.activity.DashboardHome"
            android:label="@string/title_activity_dashboard_home"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeWitActionBar" />
        <activity android:name="com.zealtech.learning.activity.ForgetPassword" />
        <activity android:name="com.zealtech.learning.activity.OnBoarddingScreens" />
        <activity android:name="com.zealtech.learning.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zealtech.learning.activity.SigninActivity" />
        <activity android:name="com.zealtech.learning.activity.SignupActivity" />
        <activity android:name="com.zealtech.learning.activity.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.zealtech.learning.util.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
